:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}
/* Основное */
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Фон футера */
footer {
  background-color: var(--secondary-background-color);
}
/* Убираем подчеркивания ссылок */
a {
  text-decoration: none;
}
/* Убираем маркеры списков */
ul {
  list-style-type: none;
}
/* Логотип */
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header-logo-studio {
  color: #000000;
}
.footer-logo-studio {
  color: var(--primary-background-color);
}
/* Ссылки в шапке*/
.address-link {
  color: var(--text-color);
  letter-spacing: 0.02em;
}
.nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus,
.footer-address-text:hover,
.footer-address-text:focus,
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}
.footer-address-text,
.footer-address-link {
  color: var(--primary-background-color);
  font-style: normal;
}
.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
}
